<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fusu.mall.mapper.ItemMapper">
	<select id="queryItemByTitle" resultType="item">
		select itemid,title,keywords,description,url
		from itembean i where i.title = #{title} LIMIT 1
	</select>
	<insert id="insertItem" parameterType="url">
		INSERT INTO itembean
		(title,keywords,description,url)
		VALUES (#{title},#{keywords},#{description},#{url})
	</insert>
</mapper>